<h4>{{ include.category }}</h4>

<table>
    <colgroup>
        <col class="bases-item">
        <col class="bases-cost">
        <col class="bases-stat">
        <col class="bases-stat-price">
    </colgroup>
    <thead>
      <tr>
        <th>Base Item</th>
        <th>Cost</th>
        <th>Stats</th>
        <th>Stat Price</th>
      </tr>
    </thead>
    <tbody>
      {% for item in site.data[ include.items ] %}
        {% if item[include.base] %}
            {% assign base = item[include.base] %}
            <tr>
                <td>
                    <img class="item-icon" loading="lazy" src="{{ item.image }}" style="margin-right: 5px;" />
                    {{ item.name }}
                </td>
                <td class="goldt">
                    {{ item.cost }}
                    {% include stat_image.html type="gold" stats=include.stats %}
                </td>
                <td>
                    {% for stat in item.stats %}
                    {% if base.type == stat.type %}
                        <b class="stat target-stat">
                    {% else%}
                        <b class="stat">
                    {% endif %}
                            {% if stat.passive %}
                                <div class="tooltip stats">
                                    {{- stat.value -}}{% include stat_image.html type=stat.type stats=include.stats %}
                                    <span class="tooltiptext">
                                        {{ stat.passive }}
                                    </span>
                                </div>
                            {% else %}
                                {{- stat.value -}}{% include stat_image.html type=stat.type stats=include.stats %}
                            {% endif %}
                        </b>
                    {% endfor %}
                </td>
                </td>
                <td class="goldt">
                    <div class="tooltip rightmost">
                        {{ base.value }}
                        <span class="tooltiptext">
                            {{ base.formula }}
                        </span>
                    </div>
                    {% include stat_image.html type="gold" stats=include.stats %}
                </td>
            </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>