<h3 id="stat-filters" style="display: flex; justify-content: space-between; align-items: center;">
    <span>🔎 Stat Filters <a href="#stat-filters">#</a></span>
    <button id="clear-all" style="display:none;" class="clear-all-button">Clear All</button>
</h3>

<button class="collapsible" id="include-filters"><div class="checkmark"></div> Include: <span id="included-icons"></span></button>
<div class="item-filter-wrap">
    {% assign stats = site.data.[include.stats] %}

    {% assign types = "" | split: "|" %}

    {% for stat in stats %}
        {% assign type = stat[1].type %}
        {% if type == "" %}
            {% continue %}
        {% endif %}
        {% unless types contains type %}
            {% assign types = types | push: type %}
        {% endunless %}
    {% endfor %}

    {% for type in types %}
        <fieldset class="item-filter">
            <label class="title">{{ type }}</label>
            {% for stat in stats %}
                {% if stat[1].type != type %}
                    {% continue %}
                {% endif %}
                {% assign stat_id = stat[0] | downcase | replace: " ", "-" | replace: "%", "percentage" %}
                <label for="include-{{ stat_id }}">
                    <input type="checkbox" name='{{ type }}' id="include-{{ stat_id }}" value="include-{{ stat_id }}" class="filter include-filter">
                    {% assign stat_name = stat[0] %}
                    <span><span class="target-stat in-filter">{% include stat_image.html type=stat_name stats=page.data.stats classes="in-filter" %}</span> {{ stat_name }}</span>
                </label>
            {% endfor %}
        </fieldset>
    {% endfor %}
</div>
<br>
<button class="collapsible" id="exclude-filters"><div class="crossmark"></div> Exclude: <span id="excluded-icons"></span></button>
<div class="item-filter-wrap">
    {% assign stats = site.data.[include.stats] %}

    {% assign types = "" | split: "|" %}

    {% for stat in stats %}
        {% assign type = stat[1].type %}
        {% if type == "" %}
            {% continue %}
        {% endif %}
        {% unless types contains type %}
            {% assign types = types | push: type %}
        {% endunless %}
    {% endfor %}

    {% for type in types %}
        <fieldset class="item-filter">
            <label class="title">{{ type }}</label>
            {% for stat in stats %}
                {% if stat[1].type != type %}
                    {% continue %}
                {% endif %}
                {% assign stat_id = stat[0] | downcase | replace: " ", "-" | replace: "%", "percentage" %}
                <label for="exclude-{{ stat_id }}">
                    <input type="checkbox" name='{{ type }}' id="exclude-{{ stat_id }}" value="exclude-{{ stat_id }}" class="filter exclude-filter">
                    {% assign stat_name = stat[0] %}
                    <span><span class="target-stat in-filter">{% include stat_image.html type=stat_name stats=page.data.stats classes="in-filter" %}</span> {{ stat_name }}</span>
                </label>
            {% endfor %}
        </fieldset>
    {% endfor %}
</div>
<br>
<button class="collapsible" id="base-price">💰 Stats Prices</button>
<div class="base-price-wrap">
    <table>
        <colgroup>
            <col class="bases-stat">
            <col class="bases-item">
            <col class="bases-cost">
            <col class="bases-stats">
            <col class="bases-stat-price">
        </colgroup>
        <thead>
        <tr>
            <th>Stat</th>
            <th>Item</th>
            <th>Cost</th>
            <th>Item Stats</th>
            <th>Stat Price</th>
        </tr>
        </thead>
        <tbody>
        {% assign base_types = "first_base|second_base" | split: "|" %}
        {% for base_type in base_types %}
            {% for item in site.data[ include.items ] %}
                {% if item[ base_type ] %}
                    {% assign base = item[ base_type ] %}
                    <tr>
                        <td>
                            <div class="tooltip item stat">
                                {% include stat_image.html type=base.type stats=include.stats %}
                                <span class="tooltiptext">
                                    {{ base.type }}
                                </span>
                            </div>
                        </td>
                        <td>
                            <p class="item-index" style="display: none"></p>
                            <div>
                                <img class="item-icon" loading="lazy" src="{{ item.image }}" style="margin-right: 5px;" />
                                {% assign item_name = item.name | split: '(' %}
                                {% if item_name.size == 2 %}
                                    {{ item_name[0] }}
                                    <p class="item-note">{{ item_name[1] | remove: ')' }}</p>
                                {% else %}
                                    {{ item.name }}
                                {% endif %}
                            </div>
                        </td>
                        <td class="goldt">
                            {{ item.cost }}
                            {% include stat_image.html type="gold" stats=include.stats %}
                        </td>
                        <td>
                            {% for stat in item.stats %}
                                <b class="stat base">
                                    {% if base.type == stat.type %}
                                    <span class="target-stat">
                                    {% else%}
                                    <span class="base-stat">
                                    {% endif %}
                                    {% if stat.passive %}
                                        <div class="tooltip stats">
                                            {{- stat.value -}}{% include stat_image.html type=stat.type stats=include.stats %}
                                            <span class="tooltiptext">
                                                {{ stat.passive }}
                                            </span>
                                        </div>
                                    {% else %}
                                        {{- stat.value -}}{% include stat_image.html type=stat.type stats=include.stats %}
                                    {% endif %}
                                    </span>
                                </b>
                            {% endfor %}
                        </td>
                        </td>
                        <td class="goldt base-price-{{ base.type | downcase | replace: " ", "-" | replace: "%", "percentage" }}">
                            <input type="text" class="base-price-input" value="{{ base.value }}" />
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}

        {% assign stats = site.data.[include.stats] %}
        {% for stat in stats %}
            {% assign type = stat[1].base_type %}
            {% if type == "exclude" %}
            <tr>
                <td>
                    <div class="tooltip item stat">
                        {% assign stat_name = stat[0] %}
                        {% include stat_image.html type=stat_name stats=include.stats %}
                        <span class="tooltiptext">
                            {{ stat_name }}
                        </span>
                    </div>
                </td>
                <td class="NA">
                    N/A
                </td>
                <td class="NA">
                    N/A
                </td>
                <td class="NA">
                    N/A
                </td>
                <td class="goldt base-price-{{ stat[0] | downcase | replace: " ", "-" | replace: "%", "percentage" }}">
                    <input type="text" class="base-price-input" value="{{ stat[1].price }}" />
                </td>
            </tr>
            {% endif%}
        {% endfor %}
        </tbody>
    </table>
</div>
<br>

<script src={{ "/assets/js/change-base-price.js" | relative_url }}></script>
<script src={{ "/assets/js/renderTable.js" | relative_url }}></script>
<script>
    function toggleElements() {
        var includeCheckboxes = document.querySelectorAll('input[type="checkbox"].include-filter');
        var excludeCheckboxes = document.querySelectorAll('input[type="checkbox"].exclude-filter');
        var anyIncludeChecked = false;
        var anyExcludeChecked = false;
        var includedIcons = [];
        var excludedIcons = [];

        includeCheckboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                anyIncludeChecked = true;
                var iconHtml = checkbox.nextElementSibling.querySelector('.target-stat').innerHTML;
                iconHtml = iconHtml.replace('in-filter', 'out-filter');
                includedIcons.push(iconHtml);
            }
        });

        excludeCheckboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                anyExcludeChecked = true;
                var iconHtml = checkbox.nextElementSibling.querySelector('.target-stat').innerHTML;
                iconHtml = iconHtml.replace('in-filter', 'out-filter');
                excludedIcons.push(iconHtml);
            }
        });

        // Update the spans with selected icons
        var includedIconsSpan = document.getElementById('included-icons');
        includedIconsSpan.innerHTML = includedIcons.length ? ` (${includedIcons.join(', ')})` : '';

        var excludedIconsSpan = document.getElementById('excluded-icons');
        excludedIconsSpan.innerHTML = excludedIcons.length ? ` (${excludedIcons.join(', ')})` : '';

        var rows = document.querySelectorAll('tr.item-row:not(.compare)');

        if (!anyIncludeChecked && !anyExcludeChecked) {
            rows.forEach(function(row) {
                row.style.display = 'table-row';
            });
        } else {
            var include_stats = [];
            var exclude_stats = [];

            includeCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    include_stats.push(checkbox.id.replace('include-', ''));
                }
            });

            excludeCheckboxes.forEach(function(checkbox) {
                if (checkbox.checked) {
                    exclude_stats.push(checkbox.id.replace('exclude-', ''));
                }
            });

            rows.forEach(function(row) {
                var includeMatched = true;
                var excludeMatched = false;

                include_stats.forEach(function(include_stat) {
                    if (!row.classList.contains(include_stat)) {
                        includeMatched = false;
                    }
                });

                exclude_stats.forEach(function(exclude_stat) {
                    if (row.classList.contains(exclude_stat)) {
                        excludeMatched = true;
                    }
                });

                row.style.display = (includeMatched && !excludeMatched) ? 'table-row' : 'none';
            });
        }

        var active_tds = document.querySelectorAll('td.toggle-trigger.active');
        active_tds.forEach(function(td) {
            td.classList.toggle("active");
        });

        var compare_rows = document.querySelectorAll('tr.compare.active');
        compare_rows.forEach(function(row) {
            row.classList.toggle("active");
        });

        renderRowColors();
        renderRowIndexs();

        // Show or hide the "Clear All" button based on any checkboxes being checked
        var clearAllButton = document.getElementById('clear-all');
        clearAllButton.style.display = anyIncludeChecked || anyExcludeChecked ? 'inline-block' : 'none';
    }

    function clearAllFilters() {
        var includeCheckboxes = document.querySelectorAll('input[type="checkbox"].include-filter');
        var excludeCheckboxes = document.querySelectorAll('input[type="checkbox"].exclude-filter');

        includeCheckboxes.forEach(function(checkbox) {
            checkbox.checked = false;
        });

        excludeCheckboxes.forEach(function(checkbox) {
            checkbox.checked = false;
        });

        toggleElements();
    }

    document.getElementById('clear-all').addEventListener('click', clearAllFilters);

    var includeCheckboxes = document.querySelectorAll('input[type="checkbox"].include-filter');
    var excludeCheckboxes = document.querySelectorAll('input[type="checkbox"].exclude-filter');

    includeCheckboxes.forEach(function(checkbox) {
        checkbox.addEventListener('click', toggleElements);
    });

    excludeCheckboxes.forEach(function(checkbox) {
        checkbox.addEventListener('click', toggleElements);
    });
</script>
