<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <p>
            If you have any ideas for contributing new features or improving the design and layout, please feel welcome to submit a PR at <a href="https://github.com/changchiyou/wildrift-gold-efficiency">{% include icon-github.svg %} changchiyou/wildrift-gold-efficiency</a>.
            <!-- {{ site.description }} -->
          </p>
        </div>
      </div>
      <br>
      <!-- <div class="social-links">
        {%- include social.html -%}
      </div> -->
  
    </div>
  
  </footer>