<colgroup>
    <col class="items-item">
    <col class="items-cost">
    <col class="items-stat">
    <col class="items-amount">
</colgroup>
<thead>
  <tr>
    <th>{% include i18n.html token="items-table.item" %}</th>
    <th column="cost" data-type="number" data-order="non-order" title="non-order">{% include i18n.html token="items-table.cost" %}</th>
    <th>{% include i18n.html token="items-table.stats" %}</th>
    <th column="amount" data-type="percentage" data-order="non-order" title="non-order">{% include i18n.html token="items-table.amount" %}</th>
  </tr>
</thead>
