<h3 id="{{ include.anchor }}">{{ include.header }}</h3>

{% assign compare_items = site.data[ page.patch_note.compare_items ] %}
{% assign compare_statuses = page.patch_note.compare_statuses | split: ',' %}
{% assign patch_status_excludes = page.patch_note.excludes | split: ',' %}
<table>
    <colgroup>
        <col class="items-item">
        <col class="items-cost">
        <col class="items-stat">
        <col class="items-amount">
    </colgroup>
    <thead>
      <tr>
        <th>Item</th>
        <th>Cost</th>
        <th>Stats</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
        {% for item in site.data[ include.items ] %}
            {% if item.category == include.category %}
                {% assign filters = "" %}
                {% for stat in item.stats %}
                    {% capture filters %}{{ filters }} filter-{{ stat.type | downcase | replace: " ", "-" | replace: "%", "percentage" }}{% endcapture %}
                {% endfor %}

                {% assign exclude = false  %}
                {% for patch_status_exclude in patch_status_excludes %}
                    {% if item.name == patch_status_exclude %}
                        {% assign exclude = true %}
                        {% break %}
                    {% endif %}
                {% endfor %}

                {% assign patch = "" %}
                {% unless exclude %}
                    {% for patch_status in page.patch_note.statuses %}
                        {% assign status_items = patch_status[1] | split: ',' %}
                        {% for status_item in status_items %}
                            {% assign item_name = item.name | upcase | replace: "'", '’' %}
                            {% if item_name contains status_item %}
                                {% assign patch = patch_status[0] %}
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        {% if patch != "" %}
                            {% break %}
                        {% endif %}
                    {% endfor %}
                {% endunless %}

                {% if compare_statuses contains patch %}
                {% include item_row.html data_item=item stats=include.stats patch=patch tr_classes=filters first_td_class="toggle-trigger" %}
                    {% assign compare_item = compare_items | where: "name", item.name | first %}
                    {% if compare_item %}
                        {% include item_row.html data_item=compare_item stats=page.patch_note.compare_stats display="false" item_prefix="5.1" tr_classes="compare" %}
                    {% endif %}
                {% else %}
                    {% include item_row.html data_item=item stats=include.stats patch=patch tr_classes=filters %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>