img.stat-icon {
    margin-top: -3px;
    margin-right: 1px
  }

  table img.stat-icon, table img.item-icon {
    width: 20px;
  }
  
  @media screen and (max-width: 768px) {
    table img.stat-icon, table img.item-icon {
      width: 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    table img.stat-icon, table img.item-icon {
      width: 12.5px;
    }
  }
  
  @media screen and (max-width: 480px) {
    img.stat-icon {
      margin-top: -2.5px;
    }
    img.badge {
      height: 16px;
    }
  }