img.stat-icon {
    margin-top: -3px;
    margin-right: 1px
  }

  img.stat-icon, img.item-icon {
    width: 20px;
  }

  img.stat-icon.in-filter {
    width: 11px;
  }

  img.stat-icon.out-filter {
    width: 13px;
  }
  
  @media screen and (max-width: 768px) {
    img.stat-icon, img.item-icon {
      width: 16px;
    }
  }

  @media screen and (max-width: 480px) {
    img.stat-icon, img.item-icon {
      width: 12.5px;
    }
    img.stat-icon {
      margin-top: -2.5px;
    }
    img.badge {
      height: 16px;
    }
    img.stat-icon.in-filter {
      width: 9px;
    }
    img.stat-icon.out-filter {
      width: 11px;
    }
  }