$tooltip-backgroud-color: #fff;
$tooltip-color: #333;

table {
    font-family: 'DIN Pro', sans-serif;
    font-weight: 700;
  }
  
  td {
    padding: 10px;
    text-align: left;
  }
  
  .goldt {
    color: #fff700;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #f7f7f7
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    background-color: $tooltip-backgroud-color;
    color: $tooltip-color;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  @media screen and (max-width: 480px) {
    .tooltip.rightmost {
      margin-left: 15%;
    }
    .tooltip.item.rightmost .tooltiptext {
      white-space: normal;
      max-width: 215px;
      word-wrap: break-word;
    }
  }

  b.stat {
    padding: 5px;
    margin: 1px
  }
  b.target-stat {
    background: #475266;
  }

  .tooltip.rightmost .tooltiptext {
    top: -5px;
    right: 130%;
  }

  .tooltip.rightmost .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $tooltip-backgroud-color;
  }

  .tooltip.stats .tooltiptext {
    top: -5px;
    left: 120%;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $tooltip-backgroud-color transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .bases-item {
    width: 30%;
  }
  .bases-cost {
    width: 15%;
  }
  .bases-stat {
    width: 20%;
  }
  .bases-stat-price {
    width: 25%;
  }

  .items-item {
    width: 52%;
  }
  .items-cost {
    width: 11%;
  }
  .items-stat {
    width: 31%;
  }
  .items-amount {
    width: 6%;
  }

  @media screen and (max-width: 480px) {
    table td b {
      padding-left: 15%;
      display: block;
    }
  }

  @media screen and (max-width: 768px) {
    table {
        font-size: 13px;
    }
  }
  
  @media screen and (max-width: 480px) {
    table {
        font-size: 10px;
    }
  }
  
  @media screen and (max-width: 480px) {
    table td {
        padding: 5px 5px;
    }
  }