$tooltip-backgroud-color: #fff;
$tooltip-color: #333;

  table {
    font-family: 'DIN Pro', sans-serif;
    font-weight: 700;
    border-collapse: collapse;
  }
  
  table td {
    padding: 10px 15px;
    text-align: left;
  }
  
  .goldt {
    color: #fff700;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #f7f7f7
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    white-space: nowrap;
    background-color: $tooltip-backgroud-color;
    color: $tooltip-color;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
  }

  @media screen and (max-width: 480px) {
    .tooltip.toleft {
      margin-left: 15%;
    }
    .tooltip.item.toleft .tooltiptext {
      white-space: normal;
      max-width:235px;
      word-wrap: break-word;
    }
  }

  b.stat {
    padding: 3px;
    display: inline-block;
  }

  b.stat.base {
    padding: 3px;
  }

  b.stat > * {
    vertical-align: middle;
  }

  span.target-stat {
    padding: 3px;
    background: #475266;
    border-radius: 3px;
  }

  span.target-stat.in-panel {
    padding: 1px 3px;
  }

  .tooltip.toleft .tooltiptext{
    top: -5px;
    right: 130%;
  }

  .tooltip.toleft .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $tooltip-backgroud-color;
  }
  @media screen and (min-width: 481px){
    .tooltip.stats .tooltiptext {
      top: -5px;
      left: 120%;
    }

    .tooltip.stats .tooltiptext::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent $tooltip-backgroud-color transparent transparent;
    }
  }

  @media screen and (max-width: 480px){
    .tooltip.stats .tooltiptext {
      top: -5px;
      right: 130%;
    }
  
    .tooltip.stats .tooltiptext::after {
      content: " ";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent $tooltip-backgroud-color;
    }
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .bases-item {
    width: 44%;
  }
  .bases-cost {
    width: 13%;
  }
  .bases-stat {
    width: 20%;
  }
  .bases-stat-price {
    width: 23%;
  }

  .items-item {
    width: 53%;
  }
  .items-cost {
    width: 11%;
  }
  .items-stat {
    width: 30%;
  }
  .items-amount {
    width: 6%;
  }

  @media screen and (max-width: 480px) {
    .items-item {
      width: 58%;
    }
    .items-cost {
      width: 11%;
    }
    .items-stat {
      width: 25%;
    }
    .items-amount {
      width: 6%;
    }
  }

  .front-empty {
    width: 10px;
    height: 10px;
    display: inline-block;
  }

  p.item-note {
    display: inline-block;
    font-size: 0.7em;
    color: #a19e9d;
    margin: 0;
  }

  .toggle-trigger:before {
    content: '+';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
  }

  .toggle-trigger.active:before {
    content: "-";
  }

  tr.compare {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  tr.compare.active {
    opacity: 1;
  }

  tr.compare td {
    padding: 0px 15px;
    transition: padding 0.3s;
  }

  tr.compare td div:not(.stats, .item) {
    max-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s;
  }

  tr.compare.active td {
    padding: 10px 15px;
  }

  tr.compare.active td div:not(.stats, .item) {
    max-height: 200px;
    overflow: visible;
    transition: max-height 0.3s;
  }

  td span.version {
    background: $grey-color-dark;
    color: $grey-color-light;
    padding: 1px 3px;
  }

  td.toggle-trigger span.prefix-version {
    display: none;
  }

  td.toggle-trigger.active span.prefix-version {
    display: inline-block;
  }

  @media screen and (max-width: 768px) {
    table {
        font-size: 13px;
    }
  }

  @media screen and (max-width: 480px) {
    table {
      font-size: 10px;
    }
    table td, tr.compare.active td {
      padding: 5px 5px;
    }
    tr.compare td {
      padding: 0px 5px;
    }
    table td b {
      padding-left: 15%;
    }
    .front-empty {
      display: none;
    }
    p.item-note {
      display: block;
    }
    b.stat {
      display: block;
    }
    span.target-stat.in-panel {
      padding: 0.8px 2px;
    }
  }