.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 0px 0px;
  box-sizing: border-box; /* This ensures padding is included in width calculation */
  z-index: 9999; /* Ensure the header is on top */
}

.page-content {
  margin-top: 60px; /* Adjust this margin to prevent content from being overlapped by fixed header */
  padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
  scroll-margin-top: 60px;
}

  @media screen and (max-width: 480px)  {
    .page-content {
      font-size: 14px;
    }
  }

  hr {
    border-color:#cccccc;
  }
  
  .panel {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #faebcc;
  }
  
  .panel strong {
    font-weight: bold;
  }
  
  .panel p {
    margin: 0;
  }

  @import
    "gold_efficiency/img",
    "gold_efficiency/table"
  ;