---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: #1f222e; /* a dark, off-black for the bg */
$text-color: #f7f7f7; /* an off-white for the text */
$grey-color-light: #2c314294; /* for the border-top separators */
$grey-color-dark: #cccccc; /* such as the site title in the header, visited */

@import "{{ site.theme }}";

table {
  font-family: 'DIN Pro', sans-serif;
  font-weight: 700;
}

td {
  padding: 10px;
  text-align: left;
}

.goldt {
  color: #fff700;
}

blockquote {
  margin: 0;
  font-style: normal;
}

blockquote p {
  padding: 15px;
  background: #2c314294;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  div.wrapper {margin-left:20%;}
  nav.toc-fixed {position:fixed;top:50px;left:2%;max-width:20%}
  nav.toc-fixed ul {padding-left:0;}
}

/* Change background on mouse-over */
.nav.toc-fixed a:hover {
  background: #ddd;
  color: black;
}

img.stat_icon {
  margin-right: 1px
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #f7f7f7
}

.tooltip .tooltiptext {
  visibility: hidden;
  white-space: nowrap;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

hr {
  border-color:#cccccc;
}

.panel {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #faebcc;
}

.panel strong {
  font-weight: bold;
}

.panel p {
  margin: 0;
}
