---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: #1f222e; /* a dark, off-black for the bg */
$text-color: #f7f7f7; /* an off-white for the text */
$grey-color-light: #2c314294; /* for the border-top separators */
$grey-color-dark: #cccccc; /* such as the site title in the header, visited */

@import 
  "{{ site.theme }}",
  "gold_efficiency.scss"
;
