---
# Only the main Sass file needs front matter (the dashes are enough)
---

$background-color: #1f222e; /* a dark, off-black for the bg */
$text-color: #f7f7f7; /* an off-white for the text */
$grey-color-light: #2c314294; /* for the border-top separators */
$grey-color-dark: #cccccc; /* such as the site title in the header, visited */

@import 
  "{{ site.theme }}"
;

@import
  "gold_efficiency.scss",
  "overwrite_nav.scss",
  "overwrite_wrapper.scss"
;

@media screen and (max-width: 480px) {
  .content-page {
    font-size: 17px;
  }
}

table {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  table {
      font-size: 13px;
  }
}

@media screen and (max-width: 480px) {
  table {
      font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  table td {
      padding: 5px 5px;
  }
}

table img.stat-icon, table img.item-icon {
  width: 20px;
}

@media screen and (max-width: 768px) {
  table img.stat-icon, table img.item-icon {
    width: 16px;
  }
}

@media screen and (max-width: 480px) {
  table img.stat-icon, table img.item-icon {
    width: 12.5px;
  }
}

@media screen and (max-width: 480px) {
  img.badge {
    height: 18px;
  }
}

@media screen and (max-width: 480px) {
  table td b {
    display: block;
  }
}