<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<link rel="manifest" href="{{ "/manifest.json" | relative_url }}">
<script src="{{ "/assets/js/pwa-1.0.js" | relative_url }}"></script>
  {% include handling-service-worker-updates.html %}
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include anchor_headings.html html=content anchorBody="#" %}
      </div>
    </main>
  </body>

</html>