---
layout: default
---

<div class="panel">
    <p>
        <strong>Copyright©</strong><br>
        I,
        <a href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank"><img class="badge" src="https://img.shields.io/badge/changchiyou-gray?logo=github"></a>,
        <b>DO NOT</b> own the copyrights of all resources on this website, especially images and data. This website is a combination of the gold efficiency calculation formula from
        {% include badge/lolwiki.html href="https://leagueoflegends.fandom.com/wiki/Gold_efficiency_(Wild_Rift)" %}
        with the design elements from
        {% include badge/wrmeta.html href="https://wr-meta.com/items/" %}
        featuring manually updated item data from {% include badge/wildrift.html href=page.data_refer_url text=page.data_refer_text %}.
    </p>
</div>

<div class="panel">
    <p>
        <strong>Hint</strong><br>
        In most cases, <u><b>a higher calculated Gold Efficiency percentage (%) indicates better value</b></u>. However, as However, as stated
        in the {% include badge/lolwiki.html href="https://leagueoflegends.fandom.com/wiki/Gold_efficiency_(Wild_Rift)" %} :
        <blockquote>
            The Gold efficiency of an item tells you how much stats it provides for its price (gold cost). This is a theoretical value with no direct game impact, used mainly to compare items.
        </blockquote>
        This calculated value doesn't fully represent an item's in-game impact. It's best for comparing items with similar attributes or assessing attribute changes.
        <br><br><hr><br>
        <li>Feel free to comment at <a href="#giscus-comments">💬 Comments</a> to correct the item data, calculations, or anything else that you discover to be incorrect or outdated and requires updating.</li>
        <li>If you have any ideas for contributing new features or improving the design and layout, please feel welcome to submit a PR at <a href="https://github.com/changchiyou/wildrift-gold-efficiency" target="_blank"><img class="badge" src="https://img.shields.io/badge/changchiyou/wildrift--gold--efficiency-gray?logo=github"></a>.</li>
    </p>
</div>

<br>
<hr>
<br>

<h3 id="Base-Statistic-Prices">💰 Base Statistic Prices</h3>

{% assign excludes = "% Magic Penetration|% Omnivamp|% Health Regen|% Mana Regeneration" | split: "|" %}
<div class="panel">
    <p>
        <strong>Warning</strong><br>
        {% for exclude in excludes %}
            {% include stat_image.html type=exclude stats=page.stats %}
        {% endfor %}
        , excluded from gold efficiency calculation due to lack of pricing reference.
    </p>
</div>

{%- include base_stat_price_table.html items=page.items stats=page.stats category="First-tier Base Item" anchor="First-tier-Base-Item" base="first_base" -%}

{%- include base_stat_price_table.html items=page.items stats=page.stats category="Second-tier Base Item" anchor="Second-tier-Base-Item" base="second_base" -%}

{% include filter.html stats=page.stats %}

{%- include items_table.html items=page.items stats=page.stats category="PHYSICAL DAMAGE ITEMS" anchor="PHYSICAL-DAMAGE-ITEMS" header="📌 Physical Damage Items" -%}

{%- include items_table.html items=page.items stats=page.stats category="MAGIC DAMAGE ITEMS" anchor="MAGIC-DAMAGE-ITEMS" header="📌 Magic Damage Items" -%}

{%- include items_table.html items=page.items stats=page.stats category="DEFENSE ITEMS" anchor="DEFENSE-ITEMS" header="📌 Defence Items" -%}

{%- include items_table.html items=page.items stats=page.stats category="BOOTS" anchor="BOOTS" header="📌 Boots" -%}

{%- include items_table.html items=page.items stats=page.stats category="SUPPORT ITEMS" anchor="SUPPORT-ITEMS" header="📌 Support Items" -%}

{%- include items_table.html items=page.items stats=page.stats category="MID TIER ITEMS" anchor="MID-TIER-ITEMS" header="📌 Mid-tier Items" -%}

{%- include items_table.html items=page.items stats=page.stats category="BASIC ITEMS" anchor="BASIC-ITEMS" header="📌 Basic Items" -%}

<div id="giscus-comments" class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="changchiyou/wildrift-gold-efficiency"
        data-repo-id="R_kgDOISWHEA"
        data-category="Announcements"
        data-category-id="DIC_kwDOISWHEM4CfCTi"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>