---
layout: default
---

{% unless page.latest_version %}
    <div class="panel warning">
        <p>
            <strong>{% include i18n.html token="outdated.title" %}</strong><br>
            {% capture interpolate %}<a href="{{ '/' | relative_url }}">|</a>{% endcapture %}
            {% include i18n.html token="outdated.message" interpolate=interpolate %}
        </p>
    </div>
{% endunless%}

<div class="panel">
    <p>
        <strong id="hint">{% include i18n.html token="hint.title" %}<a href="#hint"> #</a></strong><br>
        {% capture interpolate %}<u><b>|</b></u>|{% include badge/lolwiki.html href="https://leagueoflegends.fandom.com/wiki/Gold_efficiency_(Wild_Rift)" %}{% endcapture %}
        {% include i18n.html token="hint.message1" interpolate=interpolate %}
        <blockquote>
            The Gold efficiency of an item tells you how much stats it provides for its price (gold cost). This is a theoretical value with no direct game impact, used mainly to compare items.
        </blockquote>
        {% include i18n.html token="hint.message2" %}
        <br><br><hr><br>
        <li>{% include i18n.html token="hint.list1" interpolate='<a href="#giscus-comments">|</a>' %}</li>
        {% capture interpolate %}{% include badge/github_repo.html %}{% endcapture %}
        <li>{% include i18n.html token="hint.list2" interpolate=interpolate %}</li>
    </p>
</div>

{% include filter.html items=page.data.items stats=page.data.stats %}

{% capture header %}{% include i18n.html token="nav.physical-damage-items" %}{% endcapture %}
{%- include items_table.html items=page.data.items stats=page.data.stats category="PHYSICAL DAMAGE ITEMS" anchor="PHYSICAL-DAMAGE-ITEMS" header=header -%}

{% capture header %}{% include i18n.html token="nav.magic-damage-items" %}{% endcapture %}
{%- include items_table.html items=page.data.items stats=page.data.stats category="MAGIC DAMAGE ITEMS" anchor="MAGIC-DAMAGE-ITEMS" header=header -%}

{% capture header %}{% include i18n.html token="nav.defence-items" %}{% endcapture %}
{%- include items_table.html items=page.data.items stats=page.data.stats category="DEFENSE ITEMS" anchor="DEFENSE-ITEMS" header=header -%}

{% capture header %}{% include i18n.html token="nav.support-items" %}{% endcapture %}
{%- include items_table.html items=page.data.items stats=page.data.stats category="SUPPORT ITEMS" anchor="SUPPORT-ITEMS" header=header -%}

{% capture header %}{% include i18n.html token="nav.boots" %}{% endcapture %}
{%- include items_table.html items=page.data.items stats=page.data.stats category="BOOTS" anchor="BOOTS" header=header -%}

{% capture header %}{% include i18n.html token="nav.mid-tier-items" %}{% endcapture %}
{%- include items_table.html items=page.data.items stats=page.data.stats category="MID TIER ITEMS" anchor="MID-TIER-ITEMS" header=header -%}

{% capture header %}{% include i18n.html token="nav.basic-items" %}{% endcapture %}
{%- include items_table.html items=page.data.items stats=page.data.stats category="BASIC ITEMS" anchor="BASIC-ITEMS" header=header -%}

<div class="panel">
    <p>
        {% include i18n.html token="copyright.title" interpolate='<strong>|</strong><br>' %}
        {% capture interpolate %}{% include badge/github_profile.html %}|<b>|</b>{% endcapture %}
        {% include i18n.html token="copyright.message1" interpolate=interpolate %}
        {% capture interpolate %}{% include badge/lolwiki.html href="https://leagueoflegends.fandom.com/wiki/Gold_efficiency_(Wild_Rift)" %}|{% include badge/wrmeta.html href="https://wr-meta.com/items/" %}|{% include badge/wildrift.html href=page.data.refer_url text=page.data.refer_text %}|<br><br>{% endcapture %}
        {% include i18n.html token="copyright.message2" interpolate=interpolate %}
        {% capture interpolate %}{% include badge/lolwiki.html href="https://leagueoflegends.fandom.com/wiki/Gold_efficiency_(Wild_Rift)" %}|{% include badge/wrmeta.html href="https://wr-meta.com/items/" %}{% endcapture %}
        {% include i18n.html token="copyright.message3" interpolate=interpolate %}
    </p>
</div>

<script src={{ "/assets/js/copy-to-clipboard.js" | relative_url }}></script>
<script src={{ "/assets/js/renderTable.js" | relative_url }}></script>
<script src={{ "/assets/js/sortTable.js" | relative_url }}></script>
<script src={{ "/assets/js/collapsible.js" | relative_url }}></script>
<script>
    renderRowColors();
    renderRowIndexs();
    document.querySelectorAll('.toggle-trigger').forEach(function(element) {
        element.addEventListener('click', function() {
            this.classList.toggle("active");
            var nextRow = this.parentElement.nextElementSibling;
            nextRow.classList.toggle("active");
        });
    });

    document.addEventListener('DOMContentLoaded', () => {
        const tables = document.querySelectorAll('.sortable-table');

        tables.forEach((table) => {
            const headers = table.querySelectorAll('th');
            const originalRows = Array.from(table.querySelectorAll('tbody tr'));

            tables.forEach((table) => {
                const headers = table.querySelectorAll('th');
                const originalRows = Array.from(table.querySelectorAll('tbody tr'));
                const groupedRows = groupRows(originalRows);
                let isOriginalOrder = true;

                headers.forEach((header, index) => {
                    const column = header.getAttribute('column');
                    if (column === "cost" || column === "amount") {
                        header.addEventListener('click', () => {
                            const currentOrder = header.getAttribute('data-order');
                            let newOrder;

                            // non-order -> descending -> ascending -> non-order -> ...
                            if (currentOrder === 'non-order') {
                                newOrder = 'descending';
                                sortGroupedRows(groupedRows, index, header.getAttribute('data-type'), 'desc');
                            } else if (currentOrder === 'ascending') {
                                newOrder = 'non-order';
                                restoreOriginalOrder(table, originalRows);
                            } else {
                                newOrder = 'ascending';
                                sortGroupedRows(groupedRows, index, header.getAttribute('data-type'), 'asc');
                            }

                            // Reset data-order and title attributes for all headers that have them
                            table.querySelectorAll('th[data-order][title]').forEach((h) => {
                                if (h !== header) { // Skip the current header
                                    h.setAttribute('data-order', 'non-order');
                                    h.setAttribute('title', 'non-order');
                                }
                            });

                            header.setAttribute('data-order', newOrder);
                            header.setAttribute('title', newOrder);
                            renderRowColors();
                            renderRowIndexs();
                        });
                    }
                });
            });
        });
    });
</script>


<div id="giscus-comments" class="giscus"></div>
<script src="https://giscus.app/client.js"
        data-repo="changchiyou/wildrift-gold-efficiency"
        data-repo-id="R_kgDOISWHEA"
        data-category="Announcements"
        data-category-id="DIC_kwDOISWHEM4CfCTi"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="{% if page.lang == 'en-us' %}en{% elsif page.lang == 'zh-tw' %}zh-TW{% endif %}"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
